In [4]:
import sqlite3
db = sqlite3.connect('IMDB.sqlite')

In [5]:
db = sqlite3.connect('School.sqlite')

In [6]:
cur = db.cursor()

In [8]:
sql_query = Create table Student '(RollNumber int Primary key, Name Text, Age int)'

SyntaxError: invalid syntax (280009396.py, line 1)